<html>
    <head>
        <title>Конструктор приложений</title>
        <script src='/js/main.js'></script>
        <link rel='stylesheet' href='/css/main.css'>
    </head>
    <body>
        {{{body}}}
    </body>
</html>