<html>
    <head>
        <title>Конструктор приложений</title>
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script src='/js/main.js'></script>
        <link rel='stylesheet' href='/css/main.css'>
		<script>
		document.oncontextmenu=new Function("return false;")
		</script>
    </head>
    <body oncontextmenu="return false" bgcolor="e7e7e7">
        {{{body}}}
        <img src="/img/kot.JPG" id="kot"></img>
    </body>
</html>