
<div id="background">
<center>
	<div class="fixme">
		<div id = "start_page" class = "visible">
			<script>$('#start_page').load('html/startPage.html');</script>
		</div>

		<div id = "construct_test_page"class="hidden">
	
		</div>
		<div id = "construct_chain_page"class="hidden">

		</div>
	</div>
</center>
</div>
