
<div id="background">
<center>
	<div class="fixme">
		<div id = "start_page" class = "visible">
			<div class="select_1">
				<a>Выберите категорию приложения:</a>
				<br>
				<select class = "select_2" id = "field_1">
				    <option disabled>Категория</option>
					<option>Тест с выбором ответа</option>
					<option>Тест-соответствие</option>
					<option>Тест-цепочка</option>
					<option>Игра на память (memory)</option>
					<option>Найти пару</option>
					<option>Тест с ветвлением</option>
				</select>
			</div>
			<br>
			<div class="select_1">
				<a>Укажите класс:</a>
				<br>
				<select class = "select_2" id = "field_2">
				    <option disabled>Класс</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
				    <option>10</option>
				    <option>11</option>
				    <option>12</option>
				</select>
			</div>
			<br>
			<div class="select_1">	
				<a>Выберите уровень сложности:</a>
				<br>
				<select class = "select_2" id = "field_3">
				    <option disabled>Уровень сложности</option>
					<option>Базовый</option>
					<option>Углубленный</option>
				</select>
			</div>
			<br>
			<div>
				<input type = "button" class = "submitter" id = "field_4" onclick = "startPageSend();" value = "Отправить">
			</div>
			
		</div>
		
		<div id = "construct_test_page"class="hidden">
			<div id='modalQuestion' class='modalQuestion hidden'>
				<h2><br>Параметры вопроса</br></h2>
				<br>Текст вопроса:<br>
				<input type="text" class='Question' id='QuestionText'>
				<br>Тип шрифта:<br>
				<select class='Question' id='QuestionFontType'>
					<option disabled>
						Выберите тип шрифта
					</option>
					<option value='arial'>
						Шрифт 1: Arial
					</option>
					<option value='serif'>
						Шрифт 2: serif
					</option>
					<option value='sans-serif'>
						Шрифт 3: sans-serif
					</option>
				</select>
				<br>Размер шрифта:<br>
				<input type="text" class='Question' id='QuestionFontSize'>
				<br>Цвет шрифта:</br>
    			<input type="color" class='color' id='QuestionFontColor'><br>
				<br>Цвет фона поля:<br>
				<input type="color" class='color' id='QuestionColor'><br>
				<input type="button" id="QuestionFinish" onclick='setQuestionSettings();' value="Применить">
				<br><br>
			</div>
			<div id='modalAnswer' class='modalAnswer hidden'>
				<br><br>
				<b><h3>Параметры ответа</h3></b>
				<br>Текст ответа:<br>
				<input type="text" id='AnswerText'>
				<br>Тип шрифта:<br>
				<select id='AnswerFontType'>
					<option disabled>
						Выберите тип шрифта
					</option>
					<option value='arial'>
						Шрифт 1: Arial
					</option>
					<option value='serif'>
						Шрифт 2: serif
					</option>
					<option value='sans-serif'>
						Шрифт 3: sans-serif
					</option>
				</select>
				<br>Размер шрифта:<br>
				<input type="text" id='AnswerFontSize'>
				<br>Цвет шрифта:<br>
    			<input type="color" id='AnswerFontColor'><br>
				<br>Цвет фона поля:<br>
				<input type="color" id='AnswerColor'><br>
				<select id='AnswerTrueLi'>
    			  	<option value="1">Это верный ответ</option>
      				<option value="0">Это ошибочный ответ</option>
    			</select><br>
				<input type="button" id='AnswerFinish' onclick='setAnswerSettings();' value="Применить" style="text-align: center;">
				<br><br>
			</div>
			<div id="field"></div>
			<div id="button_next" onClick="button_next()"><p>Следующий вопрос</p></div>
			<div id="button_save" ><p>Сохранить изменения</p></div>
			<div id="scroll"> 
				<div id="slideid" class="slide"></div>
			</div>
			<div id="buttons">
				<div class="button_question" onclick = "newQuestion();"></div>
				<div class="name">Вопрос</div>
				<div class="button_answer" onclick = "newAnswer();"></div>
				<div class="name">Ответ</div>
				<div class="button_background"onclick = "changeBackground();" ></div>
				<div class="name">Фон</div>
				<div class="button_template" onclick = "selectTemplate();"></div>
				<div class="name">Шаблон</div>
			</div>
		</div>
	</div>
</center>
</div>
