<center>
	<div class="fixme">
	<script>
		var fieldCount = 0;
		function reFocus(e,t){
			var fieldIterator = t.id.split("_");
			if(e.key == "Enter"){
				e.preventDefault();
				t.blur();
				fieldIterator[0]= fieldIterator[0] + "_" + (Number(fieldIterator[1]) + 1); 
				document.getElementById(fieldIterator[0]).focus();
			}
		}
	</script>
        <div>
		<select class = "field category" id = "field_1">
			<option>Пункт 1</option>
			<option>Пункт 2</option>
		</select>
        </div>
		<div>
		<select class = "field classnum" id = "field_2">
			<option>Пункт 1</option>
			<option>Пункт 2</option>
		</select>
        </div>
		<div>
		<select class = "field difficult" id = "field_3">
			<option>Пункт 1</option>
			<option>Пункт 2</option>
		</select>
        </div>
		<div>
		<input type = "button" class = "submitter" id = "field_4" onfocus = "field_4.blur(); alert('lol'); ">
        </div>
		<h2>Не забываем работать в {{program}}</h2>
    </div>
</center>

<div id="smile1"></div>
<div id="smile2"></div>
 