
<div id="background">
<center>
	<div id = "test_construct"></div>
	<div id = "chain_construct"></div>
	<div class="fixme">
		<div id = "start_page" class = "visible">
			<script>$('#start_page').load('html/startPage.html');</script>
		</div>

		<div id = "construct_test_page"class="hidden">></div>
		<div id = "construct_chain_page"class="hidden"></div>
	</div>
</center>
</div>

<div id="uploader" class = "hidden">
  <input type="file" id="files_input" onchange="handleFiles(this.files)"/>
</div>
