<center>
	<div class="fixme">
		<div id = "start_page" style = "display: block">
			<div>
				<a>Выберите категорию приложения:</a>
				<br>
				<select class = "field category" id = "field_1">
					<option>Пункт 1</option>
					<option>Пункт 2</option>
				</select>
			</div>
			<br>
			<div>
				<a>Укажите класс:</a>
				<br>
				<select class = "field classnum" id = "field_2">
					<option>Пункт 1</option>
					<option>Пункт 2</option>
				</select>
			</div>
			<br>
			<div>	
				<a>Выберите уровень сложности:</a>
				<br>
				<select class = "field difficult" id = "field_3">
					<option>Пункт 1</option>
					<option>Пункт 2</option>
				</select>
			</div>
			<br>
			<div>
				<input type = "button" class = "submitter" id = "field_4" onclick = "startPageSend();" value = "Отправить">
			</div>
			<h2>Не забываем работать в {{program}}</h2>
		</div>
	</div>
	<div id = "construct_test_page"  bgcolor="#c0c0c0" style = "display: none">
		<div id="field"></div>
		<div id="button_next" ><p>Следующий вопрос</p></div>
		<div id="button_save" ><p>Сохранить изменения</p></div>
		<div id="scroll"> 
			<div class="slide"></div>
		</div>
		<div id="buttons">
			<div class="button_question" onclick = "newQuestion()"></div>
			<div class="name">Вопрос</div>
			<div class="button_answer" ></div>
			<div class="name">Ответ</div>
			<div class="button_background" ></div>
			<div class="name">Фон</div>
			<div class="button_template" ></div>
			<div class="name">Шаблон</div>
		</div>
	</div>
</center>

<div id="smile1"></div>
<div id="smile2"></div>
 