#field { 
     position: absolute; 
     top: 50px; 
     left: 310px;
     width: 65%; 
     height: 80%;
     background: #f5f5f5; 
     border: 3px solid #808080; 
    }
#scroll {
     position: absolute; 
     top: 50px; 
     left: 15px;
     width: 18%; 
     overflow-y: scroll;
     height: 80%;
     background: #c0c0c0; 
     border: 3px solid #808080;
    }
.slide {
     position: static; 
     margin-right: 20px;
     margin-left: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
     width: 80%; 
     height: 21%;
     background: #f5f5f5; 
     border: 2px solid #808080;
    }  

#buttons{
     position: absolute; 
     top: 50px; 
     right: 15px;
     width: 12%; 
     height: 80%;
     background: #c0c0c0; 
     }
.button_question {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    background: url(https://image.flaticon.com/icons/svg/149/149150.svg);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    }
.name {
    position: static;
    margin-left: 10px;
    top: -30px;
    font-family: arial;
    font-weight: bold;
}