#field { 
     position: absolute; 
     top: 7%; 
     left: 20%;
     width: 65%; 
     height: 80%;
     background: #f5f5f5; 
     border: 3px solid #808080; 
    }
#scroll {
     position: absolute; 
     top: 7%; 
     left: 2,5%;
     width: 18%; 
     overflow-y: scroll;
     height: 80%;
     background: #c0c0c0; 
     border: 3px solid #808080;
    }
.slide {
     position: static; 
     margin-right: 5%;
     margin-left: 5%;
     margin-top: 10%;
     margin-bottom: 10%;
     width: 80%; 
     height: 21%;
     background: #f5f5f5; 
     border: 2px solid #808080;
    }  

#buttons{
     position: absolute; 
     top: 7%; 
     right: 1%;
     width: 12%; 
     height: 80%;
     background: #c0c0c0; 
     }
.button_question {
    display: inline-block;
    margin:10% 10% 0% 10%;
    width: 50px;
    height: 50px;
    background: url(../img/149150.svg);
    cursor: pointer;
    }
    .button_answer {
    display: inline-block;
    margin:0% 10% 0% 10%;
    width: 50px;
    height: 50px;
    background: url(../img/702814.svg);
    cursor: pointer;
    }
    .button_background {
    display: inline-block;
    margin:0% 10% 0% 10%;
    width: 50px;
    height: 50px;
    background: url(../img/136826.svg);
    cursor: pointer;
    }
    .button_template {
    margin:80% 10% 0% 10%;
    width: 50px;
    height: 50px;
    background: url(../img/1070277.svg);
    cursor: pointer;
    }
.name {
    position: static;
    margin: 0% 10% 30% 10%;
    font-family: arial;
    font-weight: bold;
    font-size: 15;
}
#button_next {
    position: absolute;
    cursor: pointer;
    width: 250px;
    height: 40px;
    background: #808080; 
    border: 3px solid #696969;
    left: 335px;
    top: 90%;
    font-family: arial;
    font-weight: bold;
    font-size: 20;
    text-align: center;
    border-radius: 5px;
}
#button_save {
    position: absolute;
    cursor: pointer;
    width: 250px;
    height: 40px;
    background: #808080; 
    border: 3px solid #696969;
    right: 250px;
    top: 90%;
    font-family: arial;
    font-weight: bold;
    font-size: 20;
    border-radius: 5px;
}
.ui-draggable
{
padding:15px;
border-style:solid;
border-width:1px;
width:130px;
height:100px;
}
.questionclass{
  font-size: x-large;
  width: 150px;
  height: 150px;
}
.save_and_next {
 vertical-align: middle;
}