body {
background-color:#d9ffd6;
text-align: center;
 padding-top: 300px;
  padding-bottom: 200px;
}
.PBtrue{
background-color: green;
}
.PBfalse{
background-color: red; 
}
.PBpassive{
background-color: grey;
}
.PBmain{
width: 50%;
position: absolute;
top: 1%;
}
#progress{
    margin-left: 25%;
     top: 5%;
     width: 63%;
     height: 82%;
}
.PBactive{
	position: absolute;
}
.TDBorder{
    border: 3px green;
}
#next_b {
    right: 3%;
    top:40%;
    width: 10%;
    background: url(https://image.flaticon.com/icons/svg/126/126490.svgt);
    position: absolute;
    border: none;
    cursor: pointer;
}
#back_b {
    left: 3%;
    top:40%;
    width: 10%;
    position: absolute;
    border: none;
    cursor: pointer;
}
#next_b:hover{
background-color: #32CD32;
border-radius: 30%;
}
#back_b:hover{
background-color: #32CD32;
border-radius: 30%;
}
#mainfield {
     position: absolute;
     margin-top: 1%;
     top: 7%;
     left: 20%;
     width: 63%;
     height: 82%;
     background: #ffffff;
     border: 0px solid #808080;
    }
