body {
background-color:#d9ffd6;
text-align: center;
 padding-top: 300px;
  padding-bottom: 200px;
}
.PBtrue{
background-color: green;
}
.PBfalse{
background-color: red; 
}
.PBpassive{
background-color: grey;
}
.PBmain{
width: 50%;
position: absolute;
top: 1%;
}
#progress{
    margin-left: 25%;
     top: 5%;
     width: 63%;
     height: 82%;
}
.PBactive{
	position: absolute;
}
.TDBorder{
    border: 3px green;
}
#mainfield {
     position: absolute;
     margin-top: 1%;
     top: 7%;
     left: 20%;
     width: 63%;
     height: 82%;
     background: #ffffff;
     border: 0px solid #808080;
    }
#question0{
font: arial ;
color: #000000;
background-color: #ffff00;
left: 301px;
top: 140px;
width: 150px;
position:absolute; 
 height: 39px;}
#answer0_0{
font: arial ;
color: #000000;
background-color: #ffff00;
left: 78px;
top: 271px;
width: 143px;
position:absolute; 
height: 56px;}
#answer0_1{
font: arial ;
color: #cdf44e;
background-color: #2e39d1;
left: 501px;
top: 268px;
width: 133px;
position:absolute; 
border: 3px green;
height: 54px;}
#answer0_2{
font: arial ;
color: #cdf44e;
background-color: #2e39d1;
left: 501px;
top: 400px;
width: 133px;
position:absolute; 
height: 54px;}
#question1{
font: arial ;
color: #000000;
background-color: #babcd4;
left: 114px;
top: 148px;
width: 492px;
position:absolute; 
 height: 20px;}
#answer1_0{
font: arial ;
color: #f4584e;
background-color: #d12e51;
left: 489px;
top: 249px;
width: 153px;
position:absolute; 
height: 64px;}
#answer1_1{
font: arial 12;
color: #6ff44e;
background-color: #2ed14f;
left: 72px;
top: 283px;
width: 165px;
position:absolute; 
height: 19px;}